---
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
	<div class="flex flex-col items-center justify-center gap-2">
		<h2 class="text-xl">You seem lost...</h2>

		<p>
			Try one of the tabs above, or <a href="/">go back home</a>.
		</p>
	</div>
</BaseLayout>
