---
import ExternalLink from "@/components/external-link.astro";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout>
	<div>
		<p class="mb-6 max-w-prose text-foreground dark:text-gray-300">
			Computer Science professional, Bachelor's degree, currently pursuing Master's. Passionate about software
			development and open-source, full-stack development with TypeScript, Node.js, and React.js.
		</p>

		<p class="text-foreground dark:text-gray-300">
			You can find me on{" "}
			<ExternalLink class="text-black dark:text-foreground" href="https://github.com/almeidx">GitHub</ExternalLink
			>,{" "}
			<ExternalLink class="text-black dark:text-foreground" href="https://discord.com/users/385132696135008259"
				>Discord</ExternalLink
			>, or via{" "}
			<ExternalLink class="text-black dark:text-foreground" href="mailto:root@almeidx.dev">email</ExternalLink>.
		</p>
	</div>
</BaseLayout>
